#_preseed_V1

# LiveG OS Bootstrap Toolchain
# 
# Copyright (C) LiveG. All Rights Reserved.
# 
# https://liveg.tech/os
# Licensed by the LiveG Open-Source Licence, which can be found at LICENCE.md.

d-i debian-installer/locale string en_GB
d-i keyboard-configuration/xkb-keymap select gb
d-i netcfg/choose_interface select auto

d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/wireless_wep string

d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/root-login boolean false

d-i passwd/user-fullname string System
d-i passwd/username string system
d-i passwd/user-password password liveg
d-i passwd/user-password-again password liveg

d-i clock-setup/utc boolean true
d-i time/zone string Europe/London
d-i clock-setup/ntp boolean true

d-i partman-auto/disk string /dev/sda
d-i partman-auto/method string regular

d-i partman-basicfilesystems/no_swap boolean false

d-i partman-auto/expert_recipe string \
    root :: \
        1000 50 -1 ext4 \
            $primary{ } \
            $bootable{ } \
            method{ format } \
            format{ } \
            device{ /dev/sda } \
            use_filesystem{ } \
            filesystem{ ext4 } \
            mountpoint{ / } \
        .

d-i partman-auto/choose_recipe select root

d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i apt-setup/cdrom/set-first boolean false

tasksel tasksel/first multiselect minimal

popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string /dev/sda

d-i finish-install/reboot_in_progress note

d-i debian-installer/exit/poweroff boolean true